@font-face {
    font-family: "Raleway Light";
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Raleway-Light.woff2') format('woff2'), url('fonts/Raleway-Light.ttf') format('truetype'), url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-size: 14px
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-LightItalic.eot');
    src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Raleway-LightItalic.woff2') format('woff2'), url('fonts/Raleway-LightItalic.ttf') format('truetype'), url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-MediumItalic.eot');
    src: url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Raleway-MediumItalic.woff2') format('woff2'), url('fonts/Raleway-MediumItalic.ttf') format('truetype'), url('fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/Raleway-Medium.woff2') format('woff2'), url('fonts/Raleway-Medium.ttf') format('truetype'), url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'), url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'), url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'), url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'), url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'), url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'), url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Italic.eot');
    src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'), url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'), url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Raleway Light", Verdana, Sans-Serif;
    font-size: 14px;
}

a:link {
    /* color: #e2574C; */
    text-decoration: none;
}

.boxes a:visited {
    text-decoration: none;
    text-align: center;
    color: #e2574c;
}

a:hover {
    color: #b64036;
}

.primary-header {
    display: flex;
    flex-wrap: wrap;
}

.logo-line {
    width: 50%;
}

.logo-line img {
    margin: 12px;
    max-width: 125px;
    height: auto;
}

.primary-navigation {
    order: 3;
    list-style: none;
    padding: 0;
    display: flex;
    max-width: 100%;
}

.primary-navigation li {
    color: #e2574c;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.shoppingcartwrapper {
    width: 50%;
    text-align: right;
    padding-top: 10px;
}

.shoppingcartwrapper img {
    order: 1;
    max-width: 50px;
    margin-right: 10px;
    margin-top: 5px;
}

.hero-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/banner-girl.png), url(images/flower-bkgd.jpg);
    background-size: cover, 250px, cover;
    padding-top: 20px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center, center 60px, center;
}

.hero-banner-subtitle {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: 40px;
}

.hero-banner-title {
    font-family: "Playfair Display";
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 200px
}

.description {
    text-align: center;
}

.description h2 {
    font-family: "Playfair Display";
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

.description .heavy {
    font-weight: bold;
    font-style: normal;
}

.description p {
    line-height: 2.5;
}

.boxes a:link {
    text-decoration: none;
    text-align: center;
    color: white;
}

.boxes a:visited {
    text-decoration: none;
    text-align: center;
    color: white;
}

.boxes a:hover {
    color: lightyellow;
    text-decoration: none;
    text-align: center;
}

.shop-item {
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-style: bold;
}

.mens-section {
    display: flex;
    background: url("images/mens-category.jpg");
    background-size: cover;
    height: 200px;
}

.trends-section {
    display: flex;
    background: url("images/trends-category.jpg");
    background-size: 100%;
    height: 200px;
    width: 50%;
    justify-content: wrap;
}

.glasses-section {
    display: flex;
    background: url("images/glasses-category.jpg");
    background-size: 100%;
    height: 200px;
    width: 50%;
}

.sale-section {
    display: flex;
    background: url("images/sale-category.jpg");
    background-size: cover;
    height: 200px;
    width: 50%;
}

.bags-section {
    display: flex;
    background: url("images/bags-category.jpg");
    background-size: cover;
    height: 200px;
    width: 50%;
}

.womens-section {
    display: flex;
    background: url("images/womens-category.jpg");
    background-size: cover;
    height: 200px;
}

.most-loved-products {
    text-align: center;
}

.most-loved-products h2 {
    font-family: "Playfair Display";
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

.most-loved-products .heavy {
    font-weight: bold;
    font-style: normal;
}

.carousel-cell h4 {
    font-family: "Playfair Display";
    font-size: 20px;
}

.background-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("images/wave-bkgd.jpg");
    background-size: cover, cover;
    text-align: center;
    height: 250px;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 8px;
    padding-bottom: 20px;
    background-position: center, center;
}

#updates {
    font-family: "Playfair Display";
    text-align: center;
    font-weight: normal;
    font-style: italic;
    color: white;
}

.sign-up {
    font-family: "Playfair Display";
    text-align: center;
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
    color: white;
}

.stay-updated {
    font-family: "Raleway Light";
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    color: white;
}

.featured {
    padding-bottom: 50px;
}

.carousel-cell {
    width: 100%;
    text-align: center;
}

.background-image .heavy {
    font-weight: bold;
    font-style: normal;
}

.background-image p {
    line-height: 2.5;
}

h4 {
    color: #e2574c;
}

.submit-button {
    background-color: #e2574c;
    border-radius: 30px;
}

.submit-button:hover {
    background-color: #b64036;
}

.footer-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background: #242424;
    color: white;
    height: 300px;
}

.address span {
    display: flex;
    color: #969696;
    text-align: center;
}

.social {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    color: white;
    padding: 50px 5px;
}

.social a {
    color: white;
    padding: 0 20px;
}

.footer-info span {
    display: none;
    text-decoration: none;
}

.footer-info li {
    color: white;
    list-style: column;
}

@media screen and (min-width: 600px) {
    body {
        font-family: "Raleway Light", Verdana, Sans-Serif;
        font-size: 16px;
    }
    .shoppingcartwrapper img {
        order: 2;
        max-width: 50px;
        margin-right: 10px;
        margin-top: 5px;
    }
    .primary-navigation {
        order: 1;
        list-style: none;
        padding: 0;
        display: flex;
        max-width: 100%;
    }
    .primary-navigation li {
        display: flex;
        color: #e2574c;
        text-align: center;
        justify-content: space-around;
        padding-right: 70px;
        padding-left: 20px;
        text-align: justify;
    }
    .hero-banner {
        background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/banner-girl.png), url(images/flower-bkgd.jpg);
        background-size: cover, 250px, cover;
        padding-top: 20px;
        padding-bottom: 20px;
        background-repeat: no-repeat;
        background-position: center, center 60px, center;
    }
    .hero-banner-subtitle {
        text-align: center;
        color: white;
        font-size: 20px;
        margin-top: 200px;
        margin-bottom: 40px;
    }
    .hero-banner-title {
        font-family: "Playfair Display";
        text-align: center;
        color: white;
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 300px
    }
    .container h2 {
        justify-content: wrap;
    }
    .carousel-cell {
        width: 50%;
        text-align: center;
    }
    .social li {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-sizing: border-box;
        color: white;
        padding: 0
    }
}

@media screen and (min-width: 900px) {
    body {
        font-family: "Raleway Light", Verdana, Sans-Serif;
        font-size: 16px;
    }
    .logo-line {
        width: 50%;
    }
    .logo-line img {
        margin: 12px;
        max-width: 125px;
        height: auto;
    }
    .primary-navigation {
        order: 1;
        list-style: none;
        padding: 0;
        display: flex;
        max-width: 100%;
    }
    .shoppingcartwrapper {
        width: 50%;
        text-align: right;
        padding-top: 10px;
    }
    .shoppingcartwrapper img {
        order: 2;
        max-width: 50px;
        margin-right: 10px;
        margin-top: 5px;
    }
    .primary-navigation li {
        display: flex;
        color: #e2574c;
        text-align: center;
        justify-content: space-around;
        padding-right: 150px;
        padding-left: 30px;
        text-align: justify;
    }
    .carousel-cell {
        width: 25%;
        text-align: center;
    }
}